body {
    font-family: Helvetica, sans-serif;
    background-color: lightgray ;
    color: #222222;

}

img {
    height: auto;
    border-radius: 5px;

}


.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 3px solid #991821;
    border-radius: 11px;
}

.datagrid table td,
.datagrid table th {
    padding: 7px 10px;
}

.datagrid table thead th {
    background: linear-gradient(to bottom, #991821 5%, #80141C 100%);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-left: none;
}

.datagrid table thead th:first-child {
    border-left: none;
}

.datagrid table tbody td {
    color: #80141C;
    border-left: 2px solid #F7CDCD;
    font-size: 14px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #F7CDCD;
    color: #80141C;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.onbekend {

    background-color: red;
}
