.link-icon {
    display: inline-block;
    padding-left: 25px;
    background-image: url("image2/icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    text-decoration: none;
    color: #0066cc;
}

