body {
    font-family: Verdana sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;

}

h1 {
    font-variant: small-caps;
    background-color: red;
    color:white;
    padding: 10px;
}

a:hover {
    border: 2px blue solid;
    padding:2px;
    text-decoration: none ;

}

.stippeltjesrand {
    border: dotted 1px;
    padding: 5px;


}


