body {
    font-family: Helvetica, sans-serif;
}


header {
    padding: 30px;
    background-color: #2B2D42;
    color: #8D99AE;
    margin-bottom: 10px;
}


h1 {
    font-size: 80px;
    color: #EDF2F4;
}

h2 {
    font-size: 40px;
    color: #EDF2F4;

}

footer {
    color: #8D99AE;
    background-color: #2B2D42;
    margin-top: 10px;
    padding: 30px;

}

.education {
    background-color: #8D99AE;
    padding: 30px;

}

a {
    color: #EF233C;


}

